<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildFailureCount</key>
	<string>2026.05.003</string>
	<key>BuildFailureCountLifetime</key>
	<string>3</string>
	<key>BuildFailureCountYear</key>
	<string>2026.003</string>
	<key>BuildSuccessCount</key>
	<string>2026.05.092</string>
	<key>BuildSuccessCountLifetime</key>
	<string>92</string>
	<key>BuildSuccessCountYear</key>
	<string>2026.092</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SVG Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.svg-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svgz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Compressed SVG (SVGZ)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>club.cycleruncode.macaque.svgz-image</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2026.05.12-13</string>
	<key>CFBundleVersion</key>
	<string>2026.05.12-13</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scalable Vector Graphics</string>
			<key>UTTypeIdentifier</key>
			<string>public.svg-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>svg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/svg+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compressed Scalable Vector Graphics (gzip)</string>
			<key>UTTypeIdentifier</key>
			<string>club.cycleruncode.macaque.svgz-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>svgz</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/svg+xml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
